{{#if error}}
  <div class="alert error">{{error}}</div>
{{/if}}

{{#if success}}
  <div class="alert success">{{success}}</div>
{{/if}}


<div class="container">
  <h2>Forgot Password</h2>
  <form action="/forgot-password" method="POST">
    <input type="email" name="email" placeholder="Enter your registered email" required>
    <button type="submit">Send Reset Link</button>
  </form>
  <a href="/login">Back to Login</a>
</div>
