{{#if error}}
  <div class="alert error">{{error}}</div>
{{/if}}

{{#if success}}
  <div class="alert success">{{success}}</div>
{{/if}}

<div class="container">
  <h2>Reset Password</h2>
  <form action="/reset-password" method="POST">
    <input type="password" name="password" placeholder="Enter new password" required>
    <button type="submit">Update Password</button>
  </form>
  <a href="/login">Back to Login</a>
</div>
